[data]
    name = "pansar1"
    email = "7646436+pansar1@users.noreply.github.com"

# Uncomment after delta is installed via Brewfile
# [diff]
#     command = "delta"

[edit]
    command = "code"
    args = ["--wait"]
