Brewfile.lock.json

# Claude local settings
.claude/

# Antidote generated plugin loader
topics/zsh/plugins.zsh

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes